@if(job){
<div
  class="bg-light-cyan drop-shadow-2xl rounded-xl mx-6 mt-10 lg:mx-44 md:mx-12 font-primary"
>
  <div
    class="flex flex-col gap-4 px-4 py-20 md:flex-row md:justify-between md:items-center md:py-6"
  >
    <div class="md:flex md:gap-5">
      <div class="w-16 h-16 -mt-28 md:mt-0 md:w-24 md:h-24">
        <img [src]="job.logo" alt="" />
      </div>

      <div>
        <div class="flex gap-4 md:gap-6 mt-4 md:mt-0">
          <h2 class="text-lg font-bold text-dark-cyan-des">
            {{ job.company }}
          </h2>
          @if(job.new === true){
          <span
            class="uppercase bg-dark-cyan-des text-white font-bold rounded-full px-2.5 py-1 flex text-sm items-center"
            >new!</span
          >
          } @if(job.featured === true){
          <span
            class="uppercase bg-dark-cyan text-white font-bold rounded-full px-2.5 py-1 flex text-sm text-center"
            >featured</span
          >
          }
        </div>

        <div
          class="text-dark-cyan hover:text-dark-cyan-des text-2xl cursor-pointer font-bold mt-3 md:mt-1 mb-2 md:mb-0"
        >
          {{ job.position }}
        </div>

        <ul
          class="flex items-center gap-4 text-dark-gray font-normal text-lg md:mt-0.5 mt-0"
        >
          <li>{{ job.postedAt }}</li>
          <li>{{ job.contract }}</li>
          <li>{{ job.location }}</li>
        </ul>
      </div>
    </div>
    <hr class="md:hidden block" />
    <div>
      <ul
        class="flex flex-wrap gap-2 text-dark-cyan-des font-bold text-lg cursor-pointer"
      >
        <li
          class="bg-dark-cyan-des bg-opacity-5 hover:bg-dark-cyan-des hover:text-light-cyan px-2 py-2 rounded-lg text-md"
        >
          {{ job.role }}
        </li>
        <li
          class="bg-dark-cyan-des bg-opacity-5 hover:bg-dark-cyan-des hover:text-light-cyan px-2 py-2 rounded-lg text-md"
        >
          {{ job.level }}
        </li>
        @for(language of job.languages; track job.id){
        <li
          (click)="emitFilter('language', language)"
          class="bg-dark-cyan-des bg-opacity-5 hover:bg-dark-cyan-des hover:text-light-cyan px-2 py-2 rounded-lg text-md"
        >
          {{ language }}
        </li>
        } @for(tool of job.tools; track job.id){
        <li
          (click)="emitFilter('tool', tool)"
          class="bg-dark-cyan-des bg-opacity-5 hover:bg-dark-cyan-des hover:text-light-cyan px-2 py-2 rounded-lg text-md"
        >
          {{ tool }}
        </li>
        }
      </ul>
    </div>
  </div>
</div>
}
