@if(job){
<div class="bg-light-cyan drop-shadow-2xl rounded-xl mx-6 my-14 font-primary">
  <div class="flex flex-col gap-4 px-6 py-20">
    <div class="w-16 h-16 -mt-28">
      <img [src]="job.logo" alt="" />
    </div>

    <div class="flex gap-4">
      <h2 class="text-lg font-bold text-dark-cyan-des">{{ job.company }}</h2>
      @if(job.new === true){
      <span
        class="uppercase bg-dark-cyan-des text-white font-bold rounded-full px-2 flex items-center text-lg"
        >new!</span
      >
      } @if(job.featured === true){
      <span
        class="uppercase bg-dark-cyan text-white font-bold rounded-full px-2 flex items-center text-lg"
        >featured</span
      >
      }
    </div>

    <div class="text-dark-cyan text-lg font-bold">{{ job.position }}</div>

    <ul class="flex gap-4 text-dark-gray font-semibold">
      <li>{{ job.postedAt }}</li>
      <li>{{ job.contract }}</li>
      <li>{{ job.location }}</li>
    </ul>
    <hr />

    <ul class="flex flex-wrap justify-between text-dark-cyan-des font-bold">
      <li>{{ job.role }}</li>
      <li>{{ job.level }}</li>
      <li>{{ job.languages }}</li>
      <li>{{ job.tools }}</li>
    </ul>
  </div>
</div>
}
